body {
  background: url("../images/bg.jpg");
  background-size: cover;
  padding: 30px 0;
  margin: 0 auto;
}
.maincontainer video {
  width: 100%;
  height: 100%;
}


.container__main {
    width: 540px !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.modal-dialog {
    max-width: 720px !important;
}
.btnprimary {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  width: 150px;
  min-height: 50px;
  font-size: 20px !important;
}
.chessboard {
    width: 650px;
    height: 650px;
    margin: 20px;
    border: 5px solid #333;
}
.black {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #9f643e;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.white {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #fff;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}